---
BasedOnStyle:  Google
Language:        Cpp
TabWidth:        2
ContinuationIndentWidth: 4
UseTab:          Never
ColumnLimit:     80
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Linux
...

